body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #406446;
}

header {
    background-color: #E9E7D2;
    color: rgb(0, 0, 0);
    padding: 20px;
    font-size: 24px;
}

footer {
    background-color: #E9E7D2;
    color: rgb(0, 0, 0);
    padding: 10px;
    position: fixed;
    width: 100%;
    bottom: 0;
    margin-top: 30px;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
}

.navbar ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 15px;
}

.navbar ul li {
    display: inline;
}

.navbar ul li a {
    text-decoration: none;
    background-color: #b7e0a5;
    padding: 10px 15px;
    border-radius: 20px;
    color: black;
    font-weight: bold;
}

.logo-container {
    flex-grow: 1; /* Faz o container da logo ocupar espaço e centralizar */
    display: flex;
    justify-content: left; /* Centraliza a logo */
    margin-left: 250px;
}

.logo {
    height: 50px; /* Ajuste conforme necessário */
    display: block; /* Garante que a imagem ou elemento seja tratado como bloco */
}

.container-background{
    background-color: #E9E7D2; /* Cor verde escura baseada na imagem */
    border-radius: 20px; /* Bordas arredondadas para o efeito de quadrado */
    padding: 20px; /* Espaçamento interno para o conteúdo */
    margin: 20px auto; /* Centraliza o container e adiciona margem */
    max-width: 800px; /* Largura máxima para simular o tamanho do container na imagem */
    height: 1000px;
    margin-bottom: 70px;
    margin-top: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra sutil para destacar */
}

.h1{
    font-size: xx-large;
}

.menu-icon{
    color: #b7e0a5;
    size: 10000px;
}